<html>
    <head>
        <title>SIKE</title>
    </head>
    <body>
        <form class="" action="/results" method="post">
            
          <label for="sike">Give me a number! NOW!!!</label>
          <input type="number" name="sike">

          <input type="submit" value="Is four the magic number?">
        </form> 
    </body>
</html>
